{% extends 'base.html.twig' %}

{% block title %}New PromesseDeDon{% endblock %}

{% block body %}
    <h1>Faire un don</h1>

    <form action="{{ path('app_promesse_de_don_campagne_new',{'id':campagne.id })}}" method="post">
        <input type="number" name="donation" placeholder="montant de votre don">
        <button type="submit">Faire un don</button>
    </form>
    <a href="{{ path('app_campagne_show', {'id': campagne.id}) }}">Retourner à la campagne</a>
{% endblock %}
