{% extends 'base.html.twig' %}

{% block title %}New PromesseDeDon{% endblock %}

{% block body %}
    <h1>Faire un don</h1>

    {{ include('front/promesse_de_don/_form2.html.twig') }}

    <a href="{{ path('app_campagne_show', {'id': campagne.id}) }}">Retourner à la campagne</a>
{% endblock %}
